@import 'src/common/constants/stylesConstants.scss';

.messageContainer {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;

  .createdAt {
    font-size: 12px;
    color: #6c6c6c;
    margin-top: auto;
  }

  &__right {
    margin-left: auto;
    justify-content: flex-end;

    .createdAt, .messageContent {
      margin-left: auto;
      width: fit-content;
      white-space: pre;
    }
  }

  &__left {
    margin-right: auto;
  }

  &_highlighted {
    background: #c6997147;;
  }

  .avatarContainer {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    width: 100%;
  }

  .messageContentContainer {
    padding: 15px;
    background: white;
    box-shadow: $forms-components-box-shadow;

    .messageAttachments {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;

      &:not(:first-child) {
        margin-top: 10px;
      }

      .imageAttachmentItem {
        // max-width: calc(100% / 10);
        max-width: 350px;
        max-width: 350px;
        margin-bottom: 10px;
        box-shadow: $forms-components-box-shadow;
        padding: 5px;
        margin-right: 10px;

        .attachmentImage {
          width: 100%;
        }
      }
    }
  }
}