@import '../../../../../common/constants/stylesConstants.scss';

.sidebarContainer {
  width: 300px;
  height: 100%;
  background: white;
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 4px 0px 6px 2px $box-shadow-color;

  .sidebarHeader {
    &__username {
      text-align: center;
      margin-top: 20px;
      font-weight: 600;
    }

    &__avatarContainer {
      width: 300px;
      height: 300px;
    }
  }

  .sideBarFooter {
    bottom: 10px;
    left: 10px;
    position: absolute;
  }

  @media only screen and (max-width: 768px) {
    & {
      display: none;
    }
  }
}