@import 'src/common/constants/stylesConstants.scss';

.user {
  display: flex;
  width: calc(50% - 7px);
  margin-bottom: 15px;
  justify-content: space-between;
  padding: 10px 15px;
  box-shadow: $forms-components-box-shadow;
  border-radius: 10px;
  background: $background-color-transparent;
  align-items: center;

  @media only screen and (max-width: 768px) {
    & {
      width: 100%;
    }
  }

  &_avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
  }

  .messageButton {
    border-radius: 10px;
    background: #ffffff73;
  }
}