@import '../../../common/constants/stylesConstants.scss';

.mainButton {
	border: none;
	border-radius: 2px;
	background: $background-color-transparent;
	padding: 5px 10px;
	box-shadow: $forms-components-box-shadow;

	&:hover {
		background: $main-hover-color;
	}

	&:disabled:hover {
		background: white;
		cursor: not-allowed;
	}
}