@import 'src/common/constants/stylesConstants.scss';

.dialogueContainer {
  // display: block;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 10px;

  .messages {
    position: relative;
    height: calc(100% - 50px);
    width: 100%;
    overflow: auto;
  }

  .form {
    box-shadow: $forms-components-box-shadow;
    background: $background-color-transparent;
    border-radius: 5px;
    padding: 10px 5px;
    margin-top: 10px;
  }
}