.attachmentItem {
  width: calc(100% / 11);
  position: relative;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  background: #ffffff61;
  overflow: hidden;
  // min-width: 40px;

  .closeContainer {
    position: absolute;
    right: 0;
    background: #ffffffd1;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 1.4;
    border-radius: 2px;
    cursor: pointer;

    &:hover {
      background: #494949d1;
      color: white;
    }
  }

  .previewImage {
    height: 100%;
    width: unset;
  }
}