@import '../../../../common/constants/stylesConstants.scss';

.textArea {
  outline: none;
	border-radius: 2px;
	display: block;
	border: none;
	width: 100%;
	padding: 5px 10px;
	box-shadow: $forms-components-box-shadow;
  resize: none;
}
