.menuContainer {
  position: relative;
  width: 100%;
  height: 100%;

  .mainContent {
    position: absolute;
    left: 300px;
    top: 45px;
    width: calc(100% - 300px);
    height: calc(100% - 45px);
    overflow: auto;

    &_full_width {
      width: 100%;
      left: 0;
    }

    @media only screen and (max-width: 768px) {
      & {
        left: 0;
        width: 100%;
      }
    }
  }
}