@import 'src/common/constants/stylesConstants.scss';

.inputContainer {
  box-shadow: $forms-components-box-shadow;
  background: $background-color-transparent;
  border-radius: 5px;
  padding: 10px;
}