.signUpContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: white;
	width: 325px;
  min-height: 460px;
  max-height: 5450px;
	border-radius: 8px;
	padding: 20px 35px;
  box-shadow: 0px 0px 7px 7px #53535354;
  
  .title {
    text-align: center;
    margin-bottom: 25px;
    font-size: 35px;
    color: #fff;
    text-shadow: 1px 3px 4px #000000;
  }

	.signUpLogo {
		// background: url(../../../public/images/logo.png);
		height: 110px;
    width: 110px;
		background-size: contain;
		background-repeat: no-repeat;
    margin: 0 auto;
		margin-bottom: 15px;
		
		.logoImg {
			width: 100%;
		}
  }
  
  a {
    text-align: center;
    width: fit-content;
    margin: auto;
    margin-top: 10px;
  }
}