.form {
  // display: flex;
  width: 100%;

  .row {
    display: flex;
    width: 100%;
  }

  .button {
    height: 34px;
    align-self: flex-end;
    background: none;
    box-shadow: none;
    color: white;
    font-size: 20px;
    padding-top: 3px;
  
    &:hover {
      text-shadow: 3px 3px 4px #7c7c7c;
      background: none;
    }
  
    &:disabled {
      color: grey;
  
      &:hover {
        background: none;
        text-shadow: none;
      }
    }
  }
}