@import 'src/common/constants/stylesConstants.scss';

.dialogueListItem {
  height: 80px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background: $background-color-transparent;
  margin-bottom: 15px;
  box-shadow: $forms-components-box-shadow;
  border-radius: 5px;

  .avatarContainer {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
  }

  .content {
    flex: 1;
    margin-left: 15px;

    &__userName {
      font-weight: 600;
    }
  }
}