.headerContainer {
  position: fixed;
  top: 0;
  background: white;
  width: calc(100% - 300px);
  left: 300px;
  display: flex;
  justify-content: center;
  height: 45px;
  align-items: center;
  box-shadow: 0px 4px 6px 4px #89898926;

  &_full_width {
    width: 100%;
    left: 0;
  }

  .backButton {
    position: absolute;
    left: 10px;
    margin: auto;
    top: 0;
    bottom: 0;
    height: fit-content;
    line-height: 1;
  }

  @media only screen and (max-width: 768px) {
    & {
      left: 0;
      width: 100%;
    }
  }
}