.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;

  .formInputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    min-height: 210px;
    margin-bottom: 25px;
  }

  .formSubmit {
    display: flex;
    justify-content: center;
  }

  .inputRow {
    display: flex;
  }
}