html {
  height: 100%;
}

body {
	height: 100%;
}

button {
	outline: none;
}

button:focus, input:focus, textarea:focus, i:focus {
	outline: none;
}

div#root {
	position: fixed;
	background: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(45deg, #94bfff, #ffb365);
	width: 100%;
	height: 100%;
	/* overflow: auto; */
}

a {
	color: black;
}

* {
  font-family: 'Questrial';
  /* font-size: 1.05rem; */
}

@import '../public/vendor/fontawesome/css/all.css';