.form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .formInputs {
    display: flex;
    flex-direction: column;
    height: 80px;
    justify-content: space-between;
  }
}