.button__paperclip {
  padding-left: 10px;
}

.dropdownTogle {
  background: none;
  background-color: transparent !important;
  border: none !important;
  outline: none;

  &:hover, &:focus {
    background: none;
    box-shadow: none !important;
  }

  &::after {
    display: none !important;
  }
}